@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


$main-color: #000000;
$color-sub: #FFB800;
$color-text: #FFFFFF;

$font-main: 'Inter', sans-serif;
$sub-font: 'Poppins', sans-serif;


::-webkit-scrollbar{
  width: 0.5rem;
}

::-webkit-scrollbar-track{
  background: $main-color;
}

::-webkit-scrollbar-thumb{
  background: rgba(($color-text), 0.2);
  border-radius: 5rem;

  &:hover{
    background: rgba(($color-text), 0.8);
  }

  &:active{
    background: rgba(($color-text), 0.8);
  }
}

@media screen and (min-width: 1024px) {
  .alert{
    display: none;
  }
}


@media screen and (max-width: 1020px) {

  .main{
    display: none;
  }

  .alert{
    display: block;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: $main-color;
    font-family: $sub-font;

    .message{
      width: 80%;
      padding: 5% 3%;
      border: none;
      border-left: 0.02rem $color-sub solid;
      border-bottom: 0.02rem $color-sub solid;
      color: $color-text;
      font-size:2rem;
      font-weight: 500;
      text-align: center;

      i{
        color: $color-sub;
      }
    }
  }

}
