@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$main-color: #000000;
$color-sub: #FFB800;
$color-text: #FFFFFF;

$font-main: 'Inter', sans-serif;
$sub-font: 'Poppins', sans-serif;

.blog{
    width: 100%;
    background: $main-color;

    .blog-top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1.5rem;
        color: $color-text;
        font-family: $font-main;
    
        .move{
            display: flex;
            align-items: center;
    
            .moves{
                border-bottom: 0.2rem $color-text solid;
                padding: 0 0.5rem;
                margin: 0 0.5rem;
    
                .at{
                    color: rgba(($color-text), 0.5);
                    background: transparent;
                    outline: none;
                    border: none;
    
                    &:hover{
                        color: rgba(($color-text), 1);
                    }
                }
            }
        }
    }
    
    .blog-list{
        align-items: center;
        margin: 2rem 0;
    
        ul{
            display: flex;
            justify-content: center;
            justify-items: space-around;
            list-style: none;
            font-size: 1.4rem;
            font-weight: 300;
            font-family: $sub-font;

            li{
                margin: 0 0.6rem;
                padding: 0.5rem 1rem;

                &:hover{
                    border-bottom: 0.02rem $color-text solid;
                }

                .link{
                    text-decoration: none;
                    color: rgba(($color-text), 0.5);

                    &:hover{
                        color: rgba(($color-text), 1);
                    }
                }

                .link-change{
                    color: $color-text;
                }
                
            }
        }
    }

    .blogs{

        .tour, .life, .accomodation, .transportation, .tours{
            color: rgba(($color-text), 0.5);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 27rem;
            width: 160%;
            font-family: $sub-font;
            // border: 0.02rem $color-sub solid;

            .card{
                position: relative;
                height: 25rem;
                width: 120%;
                margin: 0 1rem;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .container{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: radial-gradient(
                        circle,
                        rgba(($main-color),0.3),
                        rgba(($main-color),0.5)
                    );

                    .text{
                        position: absolute;
                        display: grid;
                        place-items: center;
                        text-align: center;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        font-family: $font-main;
                        h2{
                            font-size: 2.5rem;
                        }

                        &:hover{
                            opacity: 1;
                            animation: moveIn 0.5s linear;
                        }

                        @keyframes moveIn {
                            0%{
                                transform: translateX(-0.5rem);
                                opacity: 0;
                            }
                            50%{
                                transform: translateX(-0.2rem);
                                opacity: 0.5;
                            }
                            100%{
                                transform: translateX(0);
                                opacity: 1;
                            }
                        }
                    }
                    
                }
            }
        }

        .transportation{
            width: 220%;
            .card{
                width: 200%;
            }
        }
    }
    h3{
        font-weight: 400;
        font-size: 1.6rem;
        padding: 2rem 1rem;

        a{
            display: flex;
            align-items: center;
            color: $color-sub;
            text-decoration: none;

            img{
                padding: 0.35rem 0 0 0;
                margin-left: 0.4rem;
            }
        }
    }
}
